body {
    background-color: #f0fff0;
    font-family: 'Arial', sans-serif;
    color: #333;
}

h2 {
    color: #2e8b57;
    text-align: center;
}

ul li {
    margin-bottom: 8px;
}

img {
    border: 2px solid #2e8b57;
}

.btn-success {
    background-color: #2e8b57;
    border-color: #2e8b57;
}

.modal-header {
    background-color: #2e8b57;
    color: white;
}
